<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EstoqueSync</title>
  <link rel="icon" type="image/png" href="/static/favicon.png">
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://unpkg.com/lucide@latest"></script>
<style>
  .logo-girando {
    animation: spin 8s linear infinite;
  }
  @keyframes spin {
    100% { transform: rotate(360deg);}
  }
</style>
</head>
<body class="bg-slate-900 text-slate-100 min-h-screen flex flex-col items-center justify-center p-4">
  <!--LOGO GRANDE GIRANDO -->
  <a href="/login" class="flex flex-col items-center gap-4 text-center">
    <img
    src="static/logoESync.jpeg"
    alt="EstoqueSync Logo"
    class="w-40 h-40 rounded-2x1 logo-girando cursor-pointer shadow-2x1 hover:scale-105 transition-transform"
  />
  <h1 class="text-3xl font-bold text-emerald-400 mb-4">EstoqueSync Rodando!</h1>
  <p class="text-slate-300">O servidor Flask encontrou o arquivo templates/index.html com sucesso.</p>
 </a>
  <script>lucide.createIcons();</script>
</body>
</html>
